@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    line-height: 2;
    font-family: 'Lato', sans-serif;
    /* overflow-x: hidden;
    overflow-y: hidden; */
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 18vw;
    height: 100vh;
    background-color: #7067CF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid rgb(107, 101, 101);
    letter-spacing: 2;
}
.title{
    font-size: 2rem;
    font-weight: 800;
    width: 100%;
    margin: 150px auto;
    text-align: center;
    animation: boom 1s ;
    border-top: thin solid;
    border-bottom: thin solid;
}
/* @keyframes boom {
    0%{
        transform:scaleY(2);
    }
    50%{
        transform: scaleX(1.15);
    }
    100%{
        font-style: italic;
    }
} */
#nav-link {
    text-align: center;
    color: black;
    display: block;
    padding: 0.5rem 2rem 0 1.2rem;
    border: 0;
    margin: 0.5rem 0 ;
    font-size: 1.5rem;
    line-height: 1.4;
    position: relative;
}
#nav-link::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    height: 2px;
    line-height: 1;
    width: 80%;
    background-color: black;
    transform-origin: right bottom;
    transform:scaleX(0);
    transition: transform 0.4s linear;
}
#nav-link:hover::after,
#nav-link:active::after{
    transform: scaleX(1);
    transform-origin: left bottom;
    transition: transform 0.4s linear;
}
#nav-link:hover{
    transform: scale(1.2);
}
.container{
    margin-left: 18vw;
    height: 100%;
    padding: 0px 5px;
    background-color: #fcf7f8;
}
.welcome-section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
.heading{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    animation: right-swipe 1s ;
    letter-spacing: 5px;
}
@keyframes right-swipe {
    from{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(360deg);
        transform: scale(2);
    }
}
#work{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); */
}
footer{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    margin-left: 20vh;
    font-size: 1.5rem;
    font-weight: 800;
    height: auto;
    padding: 10px;
    background-color: #2E2F32;
}
/* #work .img-section{
    padding: 100px;
} */
.img-section{
    padding:20px 0 ;
    width: 100%;
}
.img-section h2{
    font-size: 2rem;
    font-weight: 900;
    background-color: #CED3DC;
}
.img-section img{
    height: 300px;
    width: 20vw;
    margin: 50px;
    border-radius: 2rem;
}
.jp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sp{
    background-color: #59656F;
    margin-top: 2px;
    text-align: center;
    font-size: 2rem;
    font-family: cursive;
    padding: 20px;
}
.photographer img{
    height: auto;
    width: 30vw;
    margin-top: 50px;
}
.photographer {
    display: flex;
    justify-content: center;
    margin: 25px 0;   
    border-radius: 50px;
}
.photographer img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
#about{
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    /* background-color: #fff;
    background-image: linear-gradient(45deg,rgb(216, 198, 198) 0% ,rgb(107, 86, 86) 100%); */
}
.border-radius img{
    border-radius: 20px;
}
.about h2{
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    padding: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
    margin: 4px 100px;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 35px;
    /* opacity: ; */
}
.view-more{
    border: 5px solid;
    width: 20%;
}
.view-more:hover{
    transform: scale(1.2);
    font-weight: 800;
}
#view-more{
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
}
.img-section img:hover{
    transform: scale(1.1);
}
#about{
    width: 100%;
}
#contact{
    width: 100%;
}
#resume{
    color: black;
    font-weight: 700;
    
    border: solid black;
    padding: 10px;
    
}
.btn{
    height: auto;
    width: 100%;
    text-align: center;
}
button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
    margin: 10px;
}
button:hover {
    width: 160px;
    display: block;
     display: flex;
    align-items: center; 
    justify-content: center;  

 }
button img {
    height: 15px;
    width: 20px;
    margin: 0 0 0 18px;
    display: none;
}
button:hover img {
    float: right;
    display: block;
} 

.contact-form{
    display: inline-flex;
    flex-direction: column;
    padding : 50px 0;
}

.input{
    margin: 20px;
    width: 100%;
}